*
{
  margin: 0;
  padding: 0;
}
.main-menu
{
  background-color: cornflowerblue;
  height: 50px;
}
.main-menu >ul> li
{
  list-style-type: none;
  float: left;
  width: 20%;
  line-height: 50px;
}
.main-menu > ul > li > a
{ 
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-align: center;
}
.main-menu > ul > li > a:hover
{
  color:cornflowerblue;
  background-color: white;
}
.main-menu::after
{ 
  content: ""; 
  clear: both; 
  display: block; 
}
[class*="-drop-menu"]>li>a
{
    text-decoration: none;
    font-size: 20px;
    display:block;
    text-align: center;
    color: crimson;
    background-color: darksalmon;
    opacity: 80%;
}
[class*="-drop-menu"]>li
{
    list-style-type: none;
}
[class*="-drop-menu"] > li > a:hover
{
  color: darksalmon;
  background-color: crimson;
}
[class*="-drop-menu"]
{
  display: none;
  position: absolute;
}

.products:hover .first-drop-menu
{
  display: block;
  position: relative;
}
.delivery:hover .second-drop-menu
{
  display: block;
  position: relative;
}
.discounts:hover .third-drop-menu
{
  display: block;
  position: relative;
}
.work:hover .fourth-drop-menu
{
  display: block;
  position: relative;
}
.contacts:hover .fifth-drop-menu
{
  display: block;
  position: relative;
}
/* double-drop-down-menu */
.img-clothes
{
  float: right;
  margin-top: 20px;
  padding-right: 10px;  
}
.double-drop-down>li
{
  display: block; 

}
.double-drop-down>li>a
{
  color:ivory;
  display: block;
  width: inherit;
  text-decoration: none;
  background-color:rgba(236, 61, 96, 0.877);
  height: 25%;
  border-radius: 5px;
  border: 1px solid ivory;
  box-sizing: border-box;
}

.double-drop-down
{

  list-style: none;
  position: absolute;
  top:0px;
  left:100%;
  display: none;
  width: 70%;
  text-align: center;

}


.clothes:hover .double-drop-down
{

  display: block;
}